<h1>Rock, Paper, Scissors</h1>
<a href="https://wrpsa.com/" target="_blank">The World Rock Paper Scissors Association....</a>
<h1>Choose your weapon:</h1>

<ul>
  <li><a href="game/rock/random">Select Rock</a></li>
  <li><a href="game/paper/random">Select Paper</a></li>
  <li><a href="game/scissors/random">Select Scissors</a></li>
</ul>
